*{
    margin-right: 40px;
    margin-left: 20px;
}
.a{
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 100px;
}
.b{
    background-color: antiquewhite;
    padding:10px;
    margin-bottom: 100px;
    justify-content: space-between;
    margin: 0px 20px;
    border: 1px; ;

}
h3{
    text-align: center;
    margin-bottom: 50px;
}
.c{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    background-color:black;
    color: white;
    border: 1px;
}
.d{
    background-color: black;
    padding:10px;
    margin-bottom: 160px;
    justify-content: space-between;
    margin: 0px 20px;

}
.e{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 160px;
    background-color: rgb(4, 72, 4);
    color: white;
}
.f{ 
    background-color: rgb(4, 72, 4);
    color: white;
    padding:10px;
    margin-bottom: 160px;
    justify-content: space-between;
    margin: 0px 20px;
}
.g{
    background-color: rgb(124, 192, 16);
    color: black;
    border-radius:20%;
}
.h{
    border-radius:20%;
}
