.header1{
    border: 2px solid black;
    background-color: brown;
    text-transform: capitalize;
    text-align: center;
}
.footer{
background-color: brown;
border: 2px solid black;
text-transform: capitalize;
text-align: center;
margin-top: 20px;
font-size: 20px;
padding: 20px;
border: 2px solid black;
}

.card{
    border:2px solid black;
    padding: 20px;
    width: 300px;
    box-shadow: 10px 10px 5px grey;
    }

.bodycontent{
display: flex;
justify-content: center;
 flex-wrap: wrap;  
 gap:50px;
 margin: 20px 40px 20px 40px;
}
.content{
  text-align: center; 
   
}